# Dependency directories
node_modules/

# Secrets (ይህ በጣም አስፈላጊ ነው - የሞንጎ ዲቢ ፓስወርድህ እንዳይሄድ)
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Database backups
backups/

# Testing
coverage/

# OS metadata
.DS_Store
Thumbs.db